@inherits LayoutComponentBase
<!--===============================================================================================-->
<header>
    <link href="~/login/css/loginstyle.css" rel="stylesheet" />

</header>
<div class="page">
   
    <main>
        @Body
    </main>
	
</div>
